@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/* Hide the scrollbar by default for both axes */
::-webkit-scrollbar {
    width: 8px;
    background: #151515;
}

/* Define the vertical scrollbar track style */
::-webkit-scrollbar-track {
    background: #151515;
}

/* Define the vertical scrollbar thumb style */
::-webkit-scrollbar-thumb {
    background: #f5f7f8;
    border-radius: 6px;
    border: 2px solid #151515;
    cursor: n-resize;
}
